{% load static %}
<!-- Start Footer Section -->
<footer class="footer-section">
    <div class="container relative">
        <div class="row g-5 mb-5">
            <div class="col-lg-6">
                <div class="col-6 col-sm-6 col-md-6">
                    <div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">Furni<span>.</span></a></div>
                    <p class="mb-4">В Furni мы верим, что мебель должна не только служить функциональным целям, но и приносить радость и уют в каждый дом.
                    Мы стремимся к инновациям в дизайне, используя только высококачественные материалы, чтобы создавать предметы, которые превосходят ожидания наших клиентов.</p>
                </div>
                <div class="col-6 col-sm-6 col-md-6">
                    <ul class="list-unstyled custom-social">
                        <li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
                        <li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
                        <li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row links-wrap">
                    <div class="col-6 col-sm-6 col-md-6">
                        <ul class="list-unstyled">
                            <li><a href="#">Главная</a></li>
                            <li><a href="#">Услуги</a></li>
                            <li><a href="#">Блог</a></li>
                            <li><a href="#">Контакты</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6">
                        <ul class="list-unstyled">
                            <li><a href="#">Вакансии</a></li>
                            <li><a href="#">Наша команда</a></li>
                            <li><a href="#">Наша история</a></li>
                            <li><a href="#">Лидеры продаж</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-top copyright">
            <div class="row pt-4">
                <div class="col-lg-6">
                    <p class="mb-2 text-center text-lg-start">Copyright &copy;{% now 'Y' %}
                        Все права защищены
                    </p>
                </div>
                <div class="col-lg-6 text-center text-lg-end">
                    <ul class="list-unstyled d-inline-flex ms-auto">
                        <li><a href="#">Политика конфиденциальности</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/tiny-slider.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
