<div class="text-center mt-5">
        {% if page_obj.has_previous %}
            <a class="btn btn-primary d-inline-flex align-items-center"
               href="?page=1">&laquo; Первая</a>
            <a class="btn btn-primary d-inline-flex align-items-center"
               href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
        {% endif %}
        {% if page_obj.has_next %}
            <a class="btn btn-primary d-inline-flex align-items-center"
               href="?page={{ page_obj.next_page_number }}">Следующая</a>
            <a class="btn btn-primary d-inline-flex align-items-center"
               href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
        {% endif %}
</div>