{% load static %}
<!-- Start Header/Navigation -->
<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">
    <div class="container">
        <a class="navbar-brand" href="{% url 'catalog:index' %}">Furni<span>.</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsFurni">
            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item active"><a class="nav-link" href="{% url 'catalog:index' %}">Главная</a></li>
                <li><a class="nav-link" href="{% url 'catalog:products' %}">Магазин</a></li>
                <li><a class="nav-link" href="#">О нас</a></li>
                <li><a class="nav-link" href="#">Услуги</a></li>
                <li><a class="nav-link" href="{% url 'blog:blog' %}">Блог</a></li>
                <li><a class="nav-link" href="{% url 'catalog:contacts' %}">Контакты</a></li>
            </ul>
            <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                <!-- <li><a class="nav-link" href="#"><img src="{% static 'img/user.svg' %}"></a></li>
                <li><a class="nav-link" href="#"><img src="{% static 'img/cart.svg' %}"></a></li> -->
                <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                    {% if user.is_authenticated %}
                        {% if user.first_name %}
                            <small class="text-white mt-1 me-2 py-2">Привет, {{ user.first_name }}!</small>
                        {% endif %}
                        <a class="text-muted mt-1 me-2 py-2" href="#">Профиль</a>
                        <a class="text-muted mt-1 me-2 py-2" href="{% url 'users:logout' %}">Выйти</a>
                    {% else %}
                        <a class="text-white mt-1 me-2 py-2" href="{% url 'users:login' %}">Войти</a>
                        <a class="text-white mt-1 me-2 py-2" href="{% url 'users:register' %}">Регистрация</a>
                    {% endif %}
                </nav>
            </ul>
        </div>
    </div>
</nav>
