{% extends 'catalog/base.html' %}
{% load media_tag %}
{% block content %}
<div class="col-12 mb-5">
    {% if perms.catalog.add_category %}
    <a class="btn btn-info" href="{% url 'catalog:create_category' %}">Добавить категорию</a>
    {% endif %}
</div>
{% for object in object_list %}
    {% if object.is_published or user.is_staff or user.is_superuser %}
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <p class="card-text">Категория: {{ object.name }}</p>
                <p>Описание: {{ object.description }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="#" class="btn btn-sm btn-info">Посмотреть</a>
                    </div>
                    <small class="text-muted"></small>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endfor %}
{%  endblock %}