{%  extends 'catalog/base.html' %}
{% load static %}
{% load media_tag %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="col-12 mb-5">
            <a class="btn btn-outline-primary" href="{% url 'catalog:item_create' %}">Добавить модель</a>
        </div>
    {% endif %}
    {% for object in object_list %}
        <div class="col-12 col-md-4 col-lg-4 mb-5 mb-md-0">
            <a class="product-item" href="{% url 'catalog:item' object.pk %}">
                <img src="{% mediapath object.photo %}" alt="{{ object }}" class="img-fluid product-thumbnail">
                <h3 class="product-title">{{ object.name }}</h3>
                <p class="product-description px-5">{{ object.description|truncatechars:100 }}</p>
                <span class="icon-cross">
                    <img src="{% static 'img/cross.svg' %}" class="img-fluid">
                </span>
            </a>
        </div>
    {%  endfor %}
    {% include 'catalog/includes/inc_pagination.html' %}

{% endblock %}
